<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040520600287-hcj90g0d64nsoqog7r93hak3k7gi9dje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040520600287-hcj90g0d64nsoqog7r93hak3k7gi9dje</string>
	<key>API_KEY</key>
	<string>AIzaSyBQkiuIgUc02JXJHXz6xrPBp9pX7MNDMKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1040520600287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inventory</string>
	<key>PROJECT_ID</key>
	<string>inventory-3fe2f</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-3fe2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040520600287:ios:b86c76279f8f9ecfcc676a</string>
</dict>
</plist>